server {
    listen ${NGINX_PORT};
    server_name ${SERVER_NAME};

    location / {
        proxy_pass http://${APP_HOST}:${APP_PORT};
    }

    error_page 500 502 503 503 /50x.html;
    location = /50x.html {
        root /usr/share/nginx/html;
    }
}